<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
		<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
		<property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
		<property name="connection.driver_class">NHibernate.Driver.OracleManagedDataClientDriver</property>
		<property name="connection.connection_string">
			User Id=SYSTEM;Password=root;Data Source=localhost:1521/XE;
		</property>
		<property name="connection.release_mode">on_close</property>
		<property name="show_sql">true</property>
	</session-factory>
</hibernate-configuration>
